dist/
**/bin/
**/obj/
docs/_build
src/.vs
src/packages
src/Colectica.Curation.Web/CurationAddins
*.user
/src/Colectica.Curation.Web/App_Data/isConfigured.txt
/src/Colectica.Curation.Web/App_Data/Errors
/.vs
/src/Colectica.Curation.Web/ConnectionStrings.config
