<div data-bind="sortable: { data: people, options: { handle: '.drag-handle' } }">
    <div class="input-group" style="margin-bottom: 6px;">
        <span class="input-group-btn drag-handle" style="cursor: move;">
            <span class="btn btn-default" style="cursor: move;">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </span>
        </span>

        <span class="input-group-btn"
              data-bind="visible: id() == undefined">
            <span class="glyphicon glyphicon-hand-right" 
                  style="margin-right: 3px;"
                  title="Please select a user from the dropdown list that appears when typing."></span>
        </span>

        <input class="typeahead author-input form-control"
               type="text"
               data-bind="value: fullName, template: { afterRender: initialize }, disable: id() != undefined"
               placeholder="Type to find or add an author">

        <span class="input-group-btn">
            <a class="btn btn-default"
               data-bind="click: $parent.removePerson">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </span>
    </div>
</div>
<div class="clearfix"></div>
<button class="btn" data-bind="click: addBlankPersonLine"><span class="glyphicon glyphicon-plus"></span></button>