/* line 2, ../sass/_common.scss */
.node-type-event #page-title:after, .page-events #page-title:after, .page-isps-in-the-news #page-title:after, #block-webform-client-block-17106 #node-webform-17106 .field-name-body:after {
  content: "";
  display: block;
  width: 45px;
  border-bottom: 1px solid #ccc;
}

/* line 10, ../sass/_common.scss */
.button {
  font-family: "TheSans-Caps";
  font-weight: 400;
  font-size: 0.944em;
  text-transform: lowercase;
  letter-spacing: 0.03em;
  color: #222222;
  padding: 10px 24px;
  border: 1px solid #7d7d7d;
}
/* line 19, ../sass/_common.scss */
.button:hover {
  color: #fff;
  background-color: #286dc0;
  border-color: transparent;
}

/* line 25, ../sass/_common.scss */
.wide-button {
  text-align: center;
  display: block;
  width: 100%;
}

/* line 34, ../sass/_common.scss */
.node-type-event #page-title, .page-events #page-title, .page-isps-in-the-news #page-title {
  font-size: 2.556em;
  line-height: 1.125;
  font-weight: normal;
  color: #222;
}
/* line 39, ../sass/_common.scss */
.node-type-event #page-title:after, .page-events #page-title:after, .page-isps-in-the-news #page-title:after {
  margin-top: 15px;
}
/* line 44, ../sass/_common.scss */
.node-type-event .view-events-listing, .node-type-event .view-isps-in-the-news, .page-events .view-events-listing, .page-events .view-isps-in-the-news, .page-isps-in-the-news .view-events-listing, .page-isps-in-the-news .view-isps-in-the-news {
  word-wrap: break-word;
}
/* line 46, ../sass/_common.scss */
.node-type-event .view-events-listing .views-row, .node-type-event .view-isps-in-the-news .views-row, .page-events .view-events-listing .views-row, .page-events .view-isps-in-the-news .views-row, .page-isps-in-the-news .view-events-listing .views-row, .page-isps-in-the-news .view-isps-in-the-news .views-row {
  margin-bottom: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #ccc;
}
/* line 50, ../sass/_common.scss */
.node-type-event .view-events-listing .views-row h2, .node-type-event .view-isps-in-the-news .views-row h2, .page-events .view-events-listing .views-row h2, .page-events .view-isps-in-the-news .views-row h2, .page-isps-in-the-news .view-events-listing .views-row h2, .page-isps-in-the-news .view-isps-in-the-news .views-row h2 {
  margin-bottom: 0;
}
/* line 53, ../sass/_common.scss */
.node-type-event .view-events-listing .views-row .views-field-field-event-time, .node-type-event .view-isps-in-the-news .views-row .views-field-field-event-time, .page-events .view-events-listing .views-row .views-field-field-event-time, .page-events .view-isps-in-the-news .views-row .views-field-field-event-time, .page-isps-in-the-news .view-events-listing .views-row .views-field-field-event-time, .page-isps-in-the-news .view-isps-in-the-news .views-row .views-field-field-event-time {
  font-style: italic;
  margin-bottom: 16px;
}
/* line 57, ../sass/_common.scss */
.node-type-event .view-events-listing .views-row a.read-more, .node-type-event .view-isps-in-the-news .views-row a.read-more, .page-events .view-events-listing .views-row a.read-more, .page-events .view-isps-in-the-news .views-row a.read-more, .page-isps-in-the-news .view-events-listing .views-row a.read-more, .page-isps-in-the-news .view-isps-in-the-news .views-row a.read-more {
  font-family: "TheSans-Caps";
  font-weight: 400;
  font-size: 0.944em;
  text-transform: lowercase;
  letter-spacing: 0.03em;
  color: #222222;
  padding: 10px 24px;
  border: 1px solid #7d7d7d;
}
/* line 66, ../sass/_common.scss */
.node-type-event .view-events-listing .views-row a.read-more:hover, .node-type-event .view-isps-in-the-news .views-row a.read-more:hover, .page-events .view-events-listing .views-row a.read-more:hover, .page-events .view-isps-in-the-news .views-row a.read-more:hover, .page-isps-in-the-news .view-events-listing .views-row a.read-more:hover, .page-isps-in-the-news .view-isps-in-the-news .views-row a.read-more:hover {
  color: #fff;
  background-color: #286dc0;
  border-color: transparent;
}
/* line 73, ../sass/_common.scss */
.node-type-event .view-events-listing .views-row-last, .node-type-event .view-isps-in-the-news .views-row-last, .page-events .view-events-listing .views-row-last, .page-events .view-isps-in-the-news .views-row-last, .page-isps-in-the-news .view-events-listing .views-row-last, .page-isps-in-the-news .view-isps-in-the-news .views-row-last {
  margin-bottom: 0.5em;
  padding: 0;
  border: 0;
}

/* line 83, ../sass/_common.scss */
#block-webform-client-block-17106 h2 {
  margin-bottom: 25px;
}
/* line 88, ../sass/_common.scss */
#block-webform-client-block-17106 #node-webform-17106 .field-name-body h4 {
  font-family: "TheSans";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.1;
  color: #222222;
}
/* line 97, ../sass/_common.scss */
#block-webform-client-block-17106 #node-webform-17106 .field-name-body a.button {
  max-width: 264px;
  text-decoration: none;
  color: #222222;
}
/* line 101, ../sass/_common.scss */
#block-webform-client-block-17106 #node-webform-17106 .field-name-body a.button:hover {
  color: white;
}
/* line 105, ../sass/_common.scss */
#block-webform-client-block-17106 #node-webform-17106 .field-name-body:after {
  margin-top: 30px;
}
/* line 111, ../sass/_common.scss */
#block-webform-client-block-17106 #node-webform-17106 form .webform-component--email-address {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 114, ../sass/_common.scss */
#block-webform-client-block-17106 #node-webform-17106 form .webform-component--email-address label {
  font-family: "TheSans";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.1;
  color: #222222;
}
/* line 122, ../sass/_common.scss */
#block-webform-client-block-17106 #node-webform-17106 form .webform-component--email-address input {
  height: 43px;
  max-width: 100%;
  border: 1px solid #7d7d7d;
}
/* line 130, ../sass/_common.scss */
#block-webform-client-block-17106 #node-webform-17106 .form-actions input {
  text-decoration: none;
  color: #222222;
  border: 1px solid #7d7d7d;
}
/* line 134, ../sass/_common.scss */
#block-webform-client-block-17106 #node-webform-17106 .form-actions input:hover {
  color: white;
  background-color: #286dc0;
  border-color: transparent;
}

/* line 6, ../sass/_research.scss */
#quicktabs-research_filters label,
#views-exposed-form-data-page-1 label,
#views-exposed-form-projects-page-1 label,
#views-exposed-form-publications-page-1 label {
  font-size: 14px;
  color: white;
}
/* line 10, ../sass/_research.scss */
#quicktabs-research_filters select,
#views-exposed-form-data-page-1 select,
#views-exposed-form-projects-page-1 select,
#views-exposed-form-publications-page-1 select {
  width: 18vw;
}
@media all and (max-width: 720px) {
  /* line 10, ../sass/_research.scss */
  #quicktabs-research_filters select,
  #views-exposed-form-data-page-1 select,
  #views-exposed-form-projects-page-1 select,
  #views-exposed-form-publications-page-1 select {
    width: 100%;
  }
}
/* line 16, ../sass/_research.scss */
#quicktabs-research_filters ul.quicktabs-tabs,
#views-exposed-form-data-page-1 ul.quicktabs-tabs,
#views-exposed-form-projects-page-1 ul.quicktabs-tabs,
#views-exposed-form-publications-page-1 ul.quicktabs-tabs {
  border-bottom: 0;
  margin: 0;
}
/* line 19, ../sass/_research.scss */
#quicktabs-research_filters ul.quicktabs-tabs a,
#views-exposed-form-data-page-1 ul.quicktabs-tabs a,
#views-exposed-form-projects-page-1 ul.quicktabs-tabs a,
#views-exposed-form-publications-page-1 ul.quicktabs-tabs a {
  color: white;
}
/* line 21, ../sass/_research.scss */
#quicktabs-research_filters ul.quicktabs-tabs a:hover,
#views-exposed-form-data-page-1 ul.quicktabs-tabs a:hover,
#views-exposed-form-projects-page-1 ul.quicktabs-tabs a:hover,
#views-exposed-form-publications-page-1 ul.quicktabs-tabs a:hover {
  color: #dddddd;
}
/* line 25, ../sass/_research.scss */
#quicktabs-research_filters ul.quicktabs-tabs li.active a,
#views-exposed-form-data-page-1 ul.quicktabs-tabs li.active a,
#views-exposed-form-projects-page-1 ul.quicktabs-tabs li.active a,
#views-exposed-form-publications-page-1 ul.quicktabs-tabs li.active a {
  background-image: none;
  color: white;
}
@media all and (max-width: 720px) {
  /* line 30, ../sass/_research.scss */
  #quicktabs-research_filters .views-exposed-form .views-exposed-widget,
  #quicktabs-research_filters .views-exposed-form .form-item,
  #quicktabs-research_filters .container-inline-date .form-item .form-item,
  #quicktabs-research_filters .container-inline-date .date-padding,
  #views-exposed-form-data-page-1 .views-exposed-form .views-exposed-widget,
  #views-exposed-form-data-page-1 .views-exposed-form .form-item,
  #views-exposed-form-data-page-1 .container-inline-date .form-item .form-item,
  #views-exposed-form-data-page-1 .container-inline-date .date-padding,
  #views-exposed-form-projects-page-1 .views-exposed-form .views-exposed-widget,
  #views-exposed-form-projects-page-1 .views-exposed-form .form-item,
  #views-exposed-form-projects-page-1 .container-inline-date .form-item .form-item,
  #views-exposed-form-projects-page-1 .container-inline-date .date-padding,
  #views-exposed-form-publications-page-1 .views-exposed-form .views-exposed-widget,
  #views-exposed-form-publications-page-1 .views-exposed-form .form-item,
  #views-exposed-form-publications-page-1 .container-inline-date .form-item .form-item,
  #views-exposed-form-publications-page-1 .container-inline-date .date-padding {
    width: 100%;
    float: none;
  }
}
/* line 40, ../sass/_research.scss */
#quicktabs-research_filters .views-exposed-form .views-exposed-widget .form-submit,
#views-exposed-form-data-page-1 .views-exposed-form .views-exposed-widget .form-submit,
#views-exposed-form-projects-page-1 .views-exposed-form .views-exposed-widget .form-submit,
#views-exposed-form-publications-page-1 .views-exposed-form .views-exposed-widget .form-submit {
  background-color: transparent;
  border-color: white;
  margin-top: 1.9em;
  width: 100%;
}
/* line 45, ../sass/_research.scss */
#quicktabs-research_filters .views-exposed-form .views-exposed-widget .form-submit:hover,
#views-exposed-form-data-page-1 .views-exposed-form .views-exposed-widget .form-submit:hover,
#views-exposed-form-projects-page-1 .views-exposed-form .views-exposed-widget .form-submit:hover,
#views-exposed-form-publications-page-1 .views-exposed-form .views-exposed-widget .form-submit:hover {
  border-color: #dddddd;
}
/* line 50, ../sass/_research.scss */
#quicktabs-research_filters .see-all a,
#views-exposed-form-data-page-1 .see-all a,
#views-exposed-form-projects-page-1 .see-all a,
#views-exposed-form-publications-page-1 .see-all a {
  color: white;
}
/* line 52, ../sass/_research.scss */
#quicktabs-research_filters .see-all a:hover,
#views-exposed-form-data-page-1 .see-all a:hover,
#views-exposed-form-projects-page-1 .see-all a:hover,
#views-exposed-form-publications-page-1 .see-all a:hover {
  color: #dddddd;
}
/* line 57, ../sass/_research.scss */
#quicktabs-research_filters #views-exposed-form-data-panel-pane-1,
#views-exposed-form-data-page-1 #views-exposed-form-data-panel-pane-1,
#views-exposed-form-projects-page-1 #views-exposed-form-data-panel-pane-1,
#views-exposed-form-publications-page-1 #views-exposed-form-data-panel-pane-1 {
  padding: 0.6em .6em;
}
/* line 60, ../sass/_research.scss */
#quicktabs-research_filters #quicktabs-tab-research_filters-0,
#quicktabs-research_filters #views-exposed-form-data-panel-pane-1,
#quicktabs-research_filters #views-exposed-form-data-panel-pane-1 .views-exposed-form .views-exposed-widget,
#views-exposed-form-data-page-1 #quicktabs-tab-research_filters-0,
#views-exposed-form-data-page-1 #views-exposed-form-data-panel-pane-1,
#views-exposed-form-data-page-1 #views-exposed-form-data-panel-pane-1 .views-exposed-form .views-exposed-widget,
#views-exposed-form-projects-page-1 #quicktabs-tab-research_filters-0,
#views-exposed-form-projects-page-1 #views-exposed-form-data-panel-pane-1,
#views-exposed-form-projects-page-1 #views-exposed-form-data-panel-pane-1 .views-exposed-form .views-exposed-widget,
#views-exposed-form-publications-page-1 #quicktabs-tab-research_filters-0,
#views-exposed-form-publications-page-1 #views-exposed-form-data-panel-pane-1,
#views-exposed-form-publications-page-1 #views-exposed-form-data-panel-pane-1 .views-exposed-form .views-exposed-widget {
  background-color: #2bbfd0;
}
/* line 65, ../sass/_research.scss */
#quicktabs-research_filters #quicktabs-tab-research_filters-1,
#quicktabs-research_filters #views-exposed-form-projects-panel-pane-1,
#quicktabs-research_filters #views-exposed-form-projects-panel-pane-1 .views-exposed-form .views-exposed-widget,
#views-exposed-form-data-page-1 #quicktabs-tab-research_filters-1,
#views-exposed-form-data-page-1 #views-exposed-form-projects-panel-pane-1,
#views-exposed-form-data-page-1 #views-exposed-form-projects-panel-pane-1 .views-exposed-form .views-exposed-widget,
#views-exposed-form-projects-page-1 #quicktabs-tab-research_filters-1,
#views-exposed-form-projects-page-1 #views-exposed-form-projects-panel-pane-1,
#views-exposed-form-projects-page-1 #views-exposed-form-projects-panel-pane-1 .views-exposed-form .views-exposed-widget,
#views-exposed-form-publications-page-1 #quicktabs-tab-research_filters-1,
#views-exposed-form-publications-page-1 #views-exposed-form-projects-panel-pane-1,
#views-exposed-form-publications-page-1 #views-exposed-form-projects-panel-pane-1 .views-exposed-form .views-exposed-widget {
  background-color: #f77b21;
}
/* line 70, ../sass/_research.scss */
#quicktabs-research_filters #quicktabs-tab-research_filters-2,
#quicktabs-research_filters #views-exposed-form-publications-panel-pane-1,
#quicktabs-research_filters #views-exposed-form-publications-panel-pane-1 .views-exposed-form .views-exposed-widget,
#views-exposed-form-data-page-1 #quicktabs-tab-research_filters-2,
#views-exposed-form-data-page-1 #views-exposed-form-publications-panel-pane-1,
#views-exposed-form-data-page-1 #views-exposed-form-publications-panel-pane-1 .views-exposed-form .views-exposed-widget,
#views-exposed-form-projects-page-1 #quicktabs-tab-research_filters-2,
#views-exposed-form-projects-page-1 #views-exposed-form-publications-panel-pane-1,
#views-exposed-form-projects-page-1 #views-exposed-form-publications-panel-pane-1 .views-exposed-form .views-exposed-widget,
#views-exposed-form-publications-page-1 #quicktabs-tab-research_filters-2,
#views-exposed-form-publications-page-1 #views-exposed-form-publications-panel-pane-1,
#views-exposed-form-publications-page-1 #views-exposed-form-publications-panel-pane-1 .views-exposed-form .views-exposed-widget {
  background-color: #609d00;
}

/* line 80, ../sass/_research.scss */
.page-research-data #page-title, .page-research-projects #page-title, .page-research-publications #page-title {
  font-weight: bold;
}
/* line 82, ../sass/_research.scss */
.page-research-data #page-title:after, .page-research-projects #page-title:after, .page-research-publications #page-title:after {
  content: "";
  display: block;
  width: 70px;
  margin-top: 15px;
  border-bottom: 1px solid #ccc;
}
/* line 90, ../sass/_research.scss */
.page-research-data #views-exposed-form-data-page-1, .page-research-data #views-exposed-form-projects-page-1, .page-research-data #views-exposed-form-publications-page-1, .page-research-projects #views-exposed-form-data-page-1, .page-research-projects #views-exposed-form-projects-page-1, .page-research-projects #views-exposed-form-publications-page-1, .page-research-publications #views-exposed-form-data-page-1, .page-research-publications #views-exposed-form-projects-page-1, .page-research-publications #views-exposed-form-publications-page-1 {
  padding: 30px 0;
}
/* line 92, ../sass/_research.scss */
.page-research-data #views-exposed-form-data-page-1 .views-exposed-form .views-exposed-widget, .page-research-data #views-exposed-form-projects-page-1 .views-exposed-form .views-exposed-widget, .page-research-data #views-exposed-form-publications-page-1 .views-exposed-form .views-exposed-widget, .page-research-projects #views-exposed-form-data-page-1 .views-exposed-form .views-exposed-widget, .page-research-projects #views-exposed-form-projects-page-1 .views-exposed-form .views-exposed-widget, .page-research-projects #views-exposed-form-publications-page-1 .views-exposed-form .views-exposed-widget, .page-research-publications #views-exposed-form-data-page-1 .views-exposed-form .views-exposed-widget, .page-research-publications #views-exposed-form-projects-page-1 .views-exposed-form .views-exposed-widget, .page-research-publications #views-exposed-form-publications-page-1 .views-exposed-form .views-exposed-widget {
  font-size: 14px;
  margin-bottom: 0;
}

/* line 101, ../sass/_research.scss */
.page-research-data #zone-content-wrapper {
  border-top: 10px solid #2bbfd0;
}
/* line 104, ../sass/_research.scss */
.page-research-data #page-title {
  color: #2bbfd0;
}
/* line 107, ../sass/_research.scss */
.page-research-data #views-exposed-form-data-page-1 {
  background-color: #2bbfd0;
}
/* line 109, ../sass/_research.scss */
.page-research-data #views-exposed-form-data-page-1 .views-exposed-form .views-exposed-widget {
  background-color: #2bbfd0;
}
/* line 114, ../sass/_research.scss */
.page-research-data .block h2.block-title {
  font-family: "TheSans";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.2px;
  color: #303030;
}

/* line 127, ../sass/_research.scss */
.page-research-projects #zone-content-wrapper {
  border-top: 10px solid #f77b21;
}
/* line 130, ../sass/_research.scss */
.page-research-projects #page-title {
  color: #f77b21;
}
/* line 133, ../sass/_research.scss */
.page-research-projects #views-exposed-form-projects-page-1 {
  background-color: #f77b21;
}
/* line 135, ../sass/_research.scss */
.page-research-projects #views-exposed-form-projects-page-1 .views-exposed-form .views-exposed-widget {
  background-color: #f77b21;
}

/* line 143, ../sass/_research.scss */
.page-research-publications #zone-content-wrapper {
  border-top: 10px solid #609d00;
}
/* line 146, ../sass/_research.scss */
.page-research-publications #page-title {
  color: #609d00;
}
/* line 149, ../sass/_research.scss */
.page-research-publications #views-exposed-form-publications-page-1 {
  background-color: #609d00;
}
/* line 151, ../sass/_research.scss */
.page-research-publications #views-exposed-form-publications-page-1 .views-exposed-form .views-exposed-widget {
  background-color: #609d00;
}

/* Header */
/* line 2, ../sass/_header.scss */
#superfish-1 {
  height: 55px;
  display: flex;
  justify-content: space-between;
}
/* line 6, ../sass/_header.scss */
#superfish-1 li {
  height: 55px;
  line-height: 55px;
  font-family: Montserrat, Helvetica, Sans-serif;
  font-size: 17px;
  letter-spacing: 1.5px;
}
/* line 13, ../sass/_header.scss */
#superfish-1 li li {
  display: block;
  height: auto;
  width: 100%;
  text-align: left;
  line-height: 35px;
  white-space: normal;
}

@media only screen and (min-width: 980px) {
  /* line 24, ../sass/_header.scss */
  #superfish-1 > li a {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 28, ../sass/_header.scss */
  #superfish-1 > li.first {
    margin-left: -14px;
  }

  /* line 31, ../sass/_header.scss */
  #superfish-1 > li a a {
    padding: 0.3em 0.9em;
  }
}
/* Header */
/* line 38, ../sass/_header.scss */
#menu-3031-1 ul {
  left: -190px;
}

/* line 41, ../sass/_header.scss */
#superfish-1 #menu-3031-1.sfHover, #superfish-1 #menu-3031-1.sfHover > ul {
  box-shadow: inset -4px 0 0 #222222;
}

/* line 45, ../sass/_header.scss */
#isps-logo {
  background: url(/Content/yale/header_logo.png) no-repeat;
  width: 79px;
  height: 54px;
  display: block;
  margin-top: 5px;
}

/* line 53, ../sass/_header.scss */
#title-slogan-area {
  width: 675px;
  float: right;
}
/* line 57, ../sass/_header.scss */
#title-slogan-area:after {
  content: '';
  clear: both;
  display: table;
}

/* line 65, ../sass/_header.scss */
#zone-branding h1.site-name,
#zone-branding h2.site-name {
  height: 35px;
  font-size: 36px;
  text-align: justify;
  margin-right: -4px;
  margin-bottom: 0;
  margin-top: 0;
}
/* line 75, ../sass/_header.scss */
#zone-branding h1.site-name:after,
#zone-branding h2.site-name:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* line 81, ../sass/_header.scss */
#zone-branding .site-name a {
  font-size: 33px;
  font-weight: 400;
  height: 35px;
  letter-spacing: 3px;
  text-align: justify;
}
/* line 87, ../sass/_header.scss */
#zone-branding .site-name a:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* line 93, ../sass/_header.scss */
#zone-branding .site-slogan {
  font-family: Georgia, serif;
  font-weight: normal;
  text-align: justify;
  height: 35px;
}
/* line 99, ../sass/_header.scss */
#zone-branding .site-slogan:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* line 107, ../sass/_header.scss */
#zone-branding-wrapper {
  padding: 15px 0;
}

/* line 111, ../sass/_header.scss */
#zone-topper-wrapper {
  margin-bottom: 0;
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 119, ../sass/_header.scss */
  #isps-logo {
    background-image: url(../images/header_logo@2x.png);
    background-size: 79px 54px;
  }
}
@media only screen and (max-width: 850px) {
  /* line 126, ../sass/_header.scss */
  #zone-branding .site-slogan,
  #zone-branding h1.site-name,
  #zone-branding h2.site-name {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  /* line 134, ../sass/_header.scss */
  #isps-logo {
    margin: 0 auto;
  }

  /* line 137, ../sass/_header.scss */
  #zone-branding .logo-img {
    float: none;
  }
}
/* line 142, ../sass/_header.scss */
.sf-main-menu {
  font-weight: bold;
}

/* line 1, ../sass/_event.scss */
.uppercase {
  text-transform: uppercase;
}

/* views exposed filer */
/* line 6, ../sass/_event.scss */
#edit-field-event-type-tid-wrapper {
  min-width: 240px;
  height: 110px;
  width: 50%;
}

/* line 11, ../sass/_event.scss */
#edit-field-event-type-tid {
  width: 100%;
}

/* line 14, ../sass/_event.scss */
#views-exposed-form-events-listing-block-1 .views-submit-button {
  height: 110px;
  padding-left: 0;
  width: 48%;
}

/* line 19, ../sass/_event.scss */
#edit-submit-events-listing {
  margin-top: 31px;
}

/* responsive */
@media only screen and (max-width: 490px) {
  /* line 25, ../sass/_event.scss */
  #edit-field-event-type-tid-wrapper {
    min-width: 0;
  }
}
/* line 31, ../sass/_event.scss */
.node-event a {
  text-decoration: underline;
}
/* line 34, ../sass/_event.scss */
.node-event .field-label {
  font-size: 14px;
}
/* line 38, ../sass/_event.scss */
.node-event .field-name-field-event-url a {
  display: block;
}
/* line 42, ../sass/_event.scss */
.node-event .additional.wheelchair-yes {
  font-size: 13px;
}

/* line 2, ../sass/_footer.scss */
footer i.fa-twitter {
  font-size: 1rem;
  margin-left: 20px;
}
/* line 5, ../sass/_footer.scss */
footer i.fa-twitter:before {
  color: white;
}

/* line 2, ../sass/_conference.scss */
.node-type-conference #page-title {
  font-size: 45px;
  font-weight: normal;
  line-height: 50px;
  color: #222;
}
/* line 7, ../sass/_conference.scss */
.node-type-conference #page-title:after {
  content: "";
  display: block;
  width: 2em;
  margin-top: 15px;
  border-bottom: 1px solid #ccc;
}
/* line 17, ../sass/_conference.scss */
.node-type-conference .pane-node-content .field-name-field-event-time {
  font-style: italic;
  margin-bottom: 10px;
}
/* line 23, ../sass/_conference.scss */
.node-type-conference .date-display-single {
  display: block;
  margin-bottom: 15px;
}
/* line 29, ../sass/_conference.scss */
.node-type-conference #mini-panel-conference_details .button {
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
}

/* Conferences */
/* line 38, ../sass/_conference.scss */
.node-type-conference #region-content,
.node-type-conference-page #region-content {
  margin: 0 auto;
  float: none;
  max-width: 650px;
  display: block;
}

/* line 48, ../sass/_conference.scss */
#mini-panel-conference_menu .view-conference-home-link li {
  margin-left: 0;
}

/* line 54, ../sass/_conference.scss */
.pane-conference-details {
  background: #608ab7;
  padding: 20px;
  color: #fff;
  text-align: center;
}

/* line 63, ../sass/_conference.scss */
#mini-panel-conference_menu .view-conference-home-link ul, #mini-panel-conference_menu .view-conference-menu ul {
  list-style-type: none;
}
/* line 65, ../sass/_conference.scss */
#mini-panel-conference_menu .view-conference-home-link ul li, #mini-panel-conference_menu .view-conference-menu ul li {
  display: inline-block;
  float: left;
  padding-top: 1em;
}
/* line 69, ../sass/_conference.scss */
#mini-panel-conference_menu .view-conference-home-link ul li:before, #mini-panel-conference_menu .view-conference-menu ul li:before {
  font-size: 0;
  line-height: 0;
  content: "";
}
/* line 77, ../sass/_conference.scss */
#mini-panel-conference_menu .view-conference-home-link {
  display: inline-block;
  float: left;
}
/* line 81, ../sass/_conference.scss */
#mini-panel-conference_menu .view-conference-home-link ul li {
  padding-top: 0;
}
/* line 86, ../sass/_conference.scss */
#mini-panel-conference_menu .view-conference-menu {
  display: inline-block;
  float: left;
}
/* line 89, ../sass/_conference.scss */
#mini-panel-conference_menu .view-conference-menu li {
  margin-left: 45px;
}

/* line 99, ../sass/_conference.scss */
.node-type-conference #mini-panel-conference_menu .view-conference-home-link ul li, .node-type-conference #mini-panel-conference_menu .view-conference-menu ul li {
  padding-top: 1em;
}
