<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PersistentLinkingServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://linktest.odai.yale.edu:80/ypls-ws/PersistentLinking"
                binding="basicHttpBinding" bindingConfiguration="PersistentLinkingServiceSoapBinding"
                contract="YalePersistentLinkingService.IPersistentLinking"
                name="PersistentLinkingPort" />
        </client>
    </system.serviceModel>
</configuration>