<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PersistentLinkingServiceSoapBinding" />
                <binding name="PersistentLinkingServiceSoapBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="PersistentLinkingServiceSoapBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://linktest.odai.yale.edu:80/ypls-ws/PersistentLinking"
                binding="basicHttpBinding" bindingConfiguration="PersistentLinkingServiceSoapBinding"
                contract="YalePersistentLinkingService.IPersistentLinking"
                name="PersistentLinkingPort" />
            <endpoint address="https://linktest.its.yale.edu/ypls-ws/PersistentLinking"
                binding="basicHttpBinding" bindingConfiguration="PersistentLinkingServiceSoapBinding1"
                contract="YalePersistentLinkingService2.IPersistentLinking"
                name="PersistentLinkingPort1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
