{
  "Data": {
    "DefaultConnection": {
      "ConnectionString": "Host=localhost;Database=curation;Username=postgres;Password=TODO;",
      "ProviderName": "Npgsql"
    },
    "ColecticaRepository": {
      "ConnectionString": "Host=localhost;Database=colectica;Username=postgres;Password=TODO;",
      "ProviderName": "Npgsql"
    }
  }
}
