{
  "Data": {
    "DefaultConnection": {
      "ConnectionString": "Host=localhost;Database=curation;Username=postgres;Password=TODO;",
      "ProviderName": "Npgsql"
    },
    "ColecticaRepository": {
      "ConnectionString": "Host=localhost;Database=colectica;Username=postgres;Password=TODO;",
      "ProviderName": "Npgsql"
    }
  },
  "Curation": {
    "PublishedDataDirectory":  "TODO"
  },
  "Dataverse": {
    "Environments": {
      "test": {
        "Url": "",
        "ApiToken": "",
        "DataverseName": ""
      },
      "production": {
        "Url": "",
        "ApiToken": "",
        "DataverseName": ""
      }
    }
  }
}
