<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=.;Initial Catalog=curation;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="ColecticaRepository" connectionString="Server=.;Initial Catalog=colectica;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>
