@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<hgroup class="title">
    <h1>You've got mail</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
