<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=curation;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ColecticaRepository" connectionString="Data Source=.;Initial Catalog=colectica;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
